.border-bottom1 {
    border-bottom: 2px solid #1c7bff;
    padding-bottom: 18px;
}

.toasts {
    min-width: 300px;
    bottom: 10px;
    top: inherit;
    right: 10px;
}

li.nav-item.active.bg-gr {
    background: #008063;
}

table.dataTable tbody tr {
    background-color: #526171;
}