.border-bottom1 {
    border-bottom: 2px solid #1c7bff;
    padding-bottom: 18px;
}

.toasts {
    min-width: 300px;
    bottom: 10px;
    top: inherit;
    right: 10px;
}

li.nav-item.active.bg-gr {
    background: #008063;
}

table.dataTable tbody tr {
    background-color: #526171;
}

.dataTables_wrapper .dataTables_length select {
    background: #343a40;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
    color: #fff;
}